Package: libmogilefs-perl
Version: 1.17-1
Architecture: all
Maintainer: Jay Bonci <jaybonci@debian.org>
Depends: perl, libio-stringy-perl, libwww-perl
Section: perl
Priority: optional
Description: perl client for MogileFS
 MogileFS.pm provides a perl client for the MogileFS application-level
 distributed filesystem.
